<<<<<<< Updated upstream
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
html{
    font-family: 'Lato', sans-serif;
=======
<<<<<<< HEAD
body{
  font-size: larger;
}

*
{
  background-color: aliceblue;
  text-align: center;
}

#heading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
=======
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
html{
    font-family: 'Lato', sans-serif;
>>>>>>> 097027de9ce550e03829e344a37fef3ac2704c62
>>>>>>> Stashed changes
}