<!DOCTYPE html>
<html>
    <head>
        <meta charset="ANSI" lang="en">
        <div class="login login-text">
        <html lang="en">
  <meta charset="ANSI" lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <script type = "text/script" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type = "text/script" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script type = "text/script" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet" type="text/css" media="screen">
  <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="modifLogin.css">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Login</h1>

               <form action="" method="" id = "form" class = "form" onSubmit="return getInputValue();return false;">

              <div class="form-group">
                <input type="text" name="studentid" id="txt_studentid" class="form-control" placeholder="student id" minlength="11" required="required">
          
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="password" required="required">
                <small id = "wrongPass" style="font-size:101%;"></small>
                <small id = "noAcc" style="font-size:102%;"></small>
              </div>

            <button class="btn btn-block login-btn" onclick="getInputValue();">Login</button>
            
            </form>

            <p class="login-wrapper-footer-text">New user? <b><a href="register.html" class="text-reset">Register</a></b></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img type = "text/script" src="https://www.htmlcsscolor.com/preview/gallery/E1F3FE.png" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
<!-- 
  <script>
  function getInputValue(){
            var studentid = document.getElementById("txt_studentid").value;
            var password = document.getElementById("password").value;

    {
    if (studentid == "03082180190" && password == "lingling40hour") 
    location.href = "home.html";
  return true;
  } 
  else {
    $("#noAcc").html("Account with such student id and password not found").css('color', 'red');
    return false;
        }
</script> -->


<script>
  function getInputValue(){
            // Selecting the input element and get its value 
            var studentid = document.getElementById("txt_studentid").value;
            var password = document.getElementById("password").value;
 
        if (studentid == "03082180190" && password == "lingling40hour"){
        window.open("home.html");
        }
        else if ((studentid != "03082180190" && password != "lingling40hour")){
       $("#noAcc").html("Account not registered.").css('color', 'red');
       return false;
        }

        else if (studentid == "03082180190" && password != "lingling40hour")
        {
          $("#wrongPass").html("Wrong password!").css('color', 'red');
       return false;
        }

        else if (studentid == "" && password != "")
        {
        $("#noAcc").html("").css('');
       return false;  
       return false;
        }
        }
</script>
</body>
</html>
